@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Regular.eot");
    src: url("../fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir-Regular.woff2") format("woff2"),
      url("../fonts/Vazir-Regular.woff") format("woff"),
      url("../fonts/Vazir-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  html,body{
    font-family: Vazir !important;
  }
  #logo{
    animation: logoAnimation 1200ms ;
  }
  @keyframes logoAnimation {
    0% {
      opacity: 0;
      top: -100px; /* موقعیت اولیه */
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      top: 0; /* موقعیت نهایی */
      transform: translateY(0);
    }
  }